<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #339bfd;">
    <a class="navbar-brand" href="javascript.void()" routerLink="/">Spidr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript.void()" routerLink="/" routerLinkActive="active">Home</a>
        </li>
      </ul>
   </div>
  </nav>